<style>

        body{
            background: black;
        }

        .projectList{
            font-family: "Montserrat", sans-serif;
            padding:  0 5%;
            color: white;
        }

        h1{
            font-size: 8vw;
            background: #ee0979;  /* fallback for old browsers */
            background: -webkit-linear-gradient(135deg, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(135deg, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 20px;
        }

        h2{
            color: white;
            font-weight: 400;
            display: inline-block;
            margin-bottom: 0;
            font-size: 30px;
            
        }

        h3{
            font-weight: 100;
            margin-left: 0px;
            padding-left: 0px;
        }

        .flexbox{
            display: flex;
            flex-direction: row;
            margin-bottom: 5vh;
        }

        .f{
            flex: 1;
            padding-right: 5%;
        }

        #what{
            color: white;
            display: inline-block;
        }

        #what:after, h2:after{
            content: '';
            display: block;
            height: 2px;
            width: 100%;
            background: #ee0979;  /* fallback for old browsers */
            background: -webkit-linear-gradient(135deg, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(135deg, #ff6a00, #ee0979);
            margin-top: 5px;
        }

        p{
            font-weight: 100;
            line-height: 1.5;
            font-size: 21px;
        }

        .left{
            flex: 2;
            padding-right: 5%; 
        }

        .right{
            flex: 1;
            max-height: 400px; 
        }

        img{
            width: 30vw;
        }

        .projectList ul{
            list-style: none;
            padding: 0;
        }

        .projectList li{
            display: inline;
        }

    </style>

<div class="projectList" style="background: black;">
       
                <h1>{{projects.name}}</h1>
                <!-- <h2>The Team behind this</h2> -->
                <div class="flexbox">
                
                <div class="lead f">
                <h2>Leads</h2>
                <h3><ul><li ng-repeat="name in projects.lead" style="margin-right: 20px;">{{name}} </li></ul></h3>
                </div>
                <div class="mentor f">
                <h2>Mentors</h2>
                <h3><ul><li ng-repeat="name in projects.mentors" style="margin-right: 20px;"> {{name}} </li></ul></h3>
                </div>
                </div>
                <!-- <h2 ng-show="projects.members.length">Members</h2>
                <h3><ul><li ng-repeat="name in projects.members"> {{name}} .</li></ul></h3> -->
                <div class="flexbox">
                    <div class="left">
                <h2 id="what" style="margin-left : 0px;">What is it about</h2>
                <p>{{projects.desc}}</p>
                <ul ng-hide="projects.desc_xtra == null"> <li ng-repeat="o in projects.desc_xtra">{{o}}</li></ul>
                </div>
                
                <img class="right" ng-src="{{projects.img}}">
                </div>
           
</div>

