#form-contain
{	
    transform: scale(0.4) translateX(365%) translateY(-135%);
    background-color: white;
    width: 30%;
    display: none;
   /* padding-right: 5%;
    padding-top: 3%;
    */
    background: rgba(19, 35, 47, 0.9);
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    color: white;
}

#heading
{
	transition: all 1s linear forwards;
}

@keyframes expand
{

	100% { transform: scale(1) translateX(0%) translateY(10%); }
}

.float-label
{
	transform: translateY(38px) translateX(11px);
    letter-spacing: normal;
	font-size: 22px;
	color: #ffffff;
	font-family: 'Titillium Web', sans-serif;
	cursor: text;
	font-weight: 200;
}

label
{
	transition: all 0.2s linear;
	font-family: 'Titillium Web', sans-serif;
}

input:focus, textarea:focus {
    outline: 0;
    border-color: #1ab188;
}

input, textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    font-family: 'Titillium Web', sans-serif;
 }

#login-but:hover, #login-but:focus {
    background: #179b77;
}

#login-but {
    display: block;
    width: 50%;
}

#login-but {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #1ab188;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
    position: relative;
    left: 25%;
}
/*//////////////////////////////////////*/

