<div class="page-header">
  <h1>Sponsor Management</h1>
</div>

<button class="btn btn-default" ng-click="spons = true; show = true; sponsor.add()"> Sponsor </button>
<button class="btn btn-default" ng-click="spons = false; show = true; sponsor.add()"> Sponsor Type </button>

<br>
<br>
<div class="box" ng-show="show">
<ul class="nav nav-tabs" ng-show="spons">
  <li role="presentation" ng-click="sponsor.add()" ng-class="addTab"><a href='#'>Add Sponsor</a></li>
  <li role="presentation" ng-click="sponsor.edit()" ng-class="editTab"><a href='#'>Edit Sponsor</a></li>
  <li role="presentation" ng-click="sponsor.delet()" ng-class="deleteTab"><a href='#'>Delete Sponsor</a></li>
</ul>
<ul class="nav nav-tabs" ng-hide="spons">
  <li role="presentation" ng-click="sponsor.add()" ng-class="addTab"><a href='#'>Add SponsorType</a></li>
  <li role="presentation" ng-click="sponsor.edit()" ng-class="editTab"><a href='#'>Edit SponsorType</a></li>
  <li role="presentation" ng-click="sponsor.delet()" ng-class="deleteTab"><a href='#'>Delete SponsorType</a></li>
</ul>
<br><br>

<div ng-show="sponsor.addform&&spons">
 <form novalidate>
   <div class="form-group">
      <label>Type: </label>
      <br>
      <select class="btn btn-default" ng-model="sponsor.newsponsor.type" ng-options="type for type in types"></select>
   </div>
   <br>
   <div class="form-group">
     <label> Name: </label>
     <input class="form-control" type="text" ng-model="sponsor.newsponsor.name" placeholder="Enter Name ">
   </div>
   <div class="form-group">
     <label> URL: </label>
     <input class="form-control" type="text" ng-model="sponsor.newsponsor.url" placeholder="Enter URL of sponsor ">
   </div>
   <div class="form-group">
     <label> Priority: </label>
     <input class="form-control" type="text" ng-model="sponsor.newsponsor.priority" placeholder="Enter Priority of sponsor ">
   </div>
   <div class="form-group">
     <label> Upload Logo: </label>
     <label class="custom-file-upload">
            <input class="btn btn-default" name="file" type="file" id="file" />
     </label>
     <!--<button ng-click="main.upload()">Upload</button> -->
   </div>
   <br>
   <button ng-click="sponsor.addsponsor()" class="btn btn-success" type="submit"> Add </button>
 </form>
<br>
  <div class="row show-hide-message" ng-show="sponsor.error">
    <div class="alert alert-danger"> {{sponsor.error}} </div>
  </div>
  <div class="row show-hide-message" ng-show="sponsor.success">
    <div class="alert alert-success"> {{sponsor.success}} </div>
  </div>
</div>

<div ng-show="sponsor.editform&&spons">
  <div ng-hide="sponsor.step3">
   <div class="form-group" ng-show="sponsor.step1">
      <label>Type: </label>
      <br>
      <select class="btn btn-default" ng-change="sponsor.beginstep2()" ng-model="sponsor.newsponsor.type" ng-options="type for type in types"></select>
      <br><br>
   </div>
   <div class="form-group" ng-show="sponsor.step2">
      <label>Sponsor: </label>
      <br>
      <select class="btn btn-default" ng-model="sponsor.newsponsor.name"  ng-change="sponsor.beginstep3()" ng-options="spons for spons in sponsors"></select>
      <br><br>
   </div>
 </div>
   <br>
  <form ng-show="sponsor.step3" novalidate>
    <div class="form-group">
       <label>Type: </label>
       <br>
       <select class="btn btn-default" ng-disabled='true' ng-model="sponsor.newsponsor.type" ng-options="type for type in types"></select>
       <br><br>
    </div>
   <div class="form-group">
     <label> Name: </label>
     <input class="form-control" type="text" ng-model="sponsor.newsponsor.name" placeholder="Enter Name ">
   </div>
   <div class="form-group">
     <label> URL: </label>
     <input class="form-control" type="text" ng-model="sponsor.newsponsor.url" placeholder="Enter URL of sponsor ">
   </div>
   <div class="form-group">
     <label> Priority: </label>
     <input class="form-control" type="text" ng-model="sponsor.newsponsor.priority" placeholder="Enter Priority of sponsor ">
   </div>
   <br>
   <button ng-click="sponsor.update()" class="btn btn-primary" type="submit"> Update </button>
 </form>
<br>
  <div class="row show-hide-message" ng-show="sponsor.error">
    <div class="alert alert-danger"> {{sponsor.error}} </div>
  </div>
  <div class="row show-hide-message" ng-show="sponsor.success">
    <div class="alert alert-success"> {{sponsor.success}} </div>
  </div>
</div>

<div ng-show="sponsor.deleteform&&spons">
   <div class="form-group" ng-show="sponsor.step1">
      <label>Type: </label>
      <br>
      <select class="btn btn-default" ng-change="sponsor.beginstep2()" ng-model="sponsor.newsponsor.type" ng-options="type for type in types"></select>
      <br><br>
   </div>
   <div class="form-group" ng-show="sponsor.step2">
      <label>Sponsor: </label>
      <br>
      <select class="btn btn-default" ng-model="sponsor.newsponsor.name"  ng-change="sponsor.beginstep3()" ng-options="spons for spons in sponsors"></select>
      <br><br>
   </div>
   <confirm class="btn btn-danger" ng-really-message="Are you sure you want to delete {{sponsor.newsponsor.name}}?" ng-cancel-click="sponsor.delet()" ng-really-click="sponsor.deletesponsor()" ng-show="sponsor.step3"> Delete Sponsor </confirm>
   <br>
<br>
  <div class="row show-hide-message" ng-show="sponsor.error">
    <div class="alert alert-danger"> {{sponsor.error}} </div>
  </div>
  <div class="row show-hide-message" ng-show="sponsor.success">
    <div class="alert alert-success"> {{sponsor.success}} </div>
  </div>
</div>

<!--  Below is the code for editing sponsor type -->

<div ng-show="sponsor.addform&&!spons">
 <form ng-submit="sponsor.addsponsortype()" novalidate>
   <div class="form-group">
      <label>Type: </label>
      <br>
      <input class="form-control" type="text" ng-model="sponsor.newtype.sponsor_type" placeholder="Enter New Sponsor type">
   </div>
   <br>
   <div class="form-group">
     <label> Priority: </label>
     <input class="form-control" type="text" ng-model="sponsor.newtype.priority" placeholder="Enter Priority ">
   </div>
   <br>
   <button class="btn btn-success" type="submit"> Add </button>
 </form>
<br>
  <div class="row show-hide-message" ng-show="sponsor.error">
    <div class="alert alert-danger"> {{sponsor.error}} </div>
  </div>
  <div class="row show-hide-message" ng-show="sponsor.success">
    <div class="alert alert-success"> {{sponsor.success}} </div>
  </div>
</div>

<div ng-show="sponsor.editform&&!spons">
  <div ng-hide="sponsor.step2">
   <div class="form-group" ng-show="sponsor.step1">
      <label>Type: </label>
      <br>
      <select class="btn btn-default" ng-change="sponsor.beginstep2type()" ng-model="sponsor.newtype.sponsor_type" ng-options="type for type in types"></select>
      <br><br>
   </div>
 </div>
   <br>
  <form ng-show="sponsor.step2" ng-submit="sponsor.updatetype()" novalidate>
    <div class="form-group">
       <label>Type: </label>
       <br>
       <input class="form-control" type="text" ng-model="sponsor.newtype.sponsor_type" placeholder="Enter New Sponsor type">
       <br><br>
    </div>
   <div class="form-group">
     <label> Priority: </label>
     <input class="form-control" type="text" ng-model="sponsor.newtype.priority" placeholder="Enter Priority of sponsor ">
   </div>
   <br>
   <button class="btn btn-primary" type="submit"> Update </button>
 </form>
<br>
  <div class="row show-hide-message" ng-show="sponsor.error">
    <div class="alert alert-danger"> {{sponsor.error}} </div>
  </div>
  <div class="row show-hide-message" ng-show="sponsor.success">
    <div class="alert alert-success"> {{sponsor.success}} </div>
  </div>
</div>

<div ng-show="sponsor.deleteform&&!spons">
   <div class="form-group" ng-show="sponsor.step1">
      <label>Type: </label>
      <br>
      <select class="btn btn-default" ng-change="step2 = true" ng-model="sponsor.newtype.sponsor_type" ng-options="type for type in types"></select>
      <br><br>
   </div>
   <confirm class="btn btn-danger" ng-really-message="Are you sure you want to delete {{sponsor.newtype.sponsor_type}}?" ng-cancel-click="sponsor.delet()" ng-really-click="sponsor.deletesponsortype()" ng-show="step2"> Delete Sponsor Type </confirm>
   <br>
<br>
  <div class="row show-hide-message" ng-show="sponsor.error">
    <div class="alert alert-danger"> {{sponsor.error}} </div>
  </div>
  <div class="row show-hide-message" ng-show="sponsor.success">
    <div class="alert alert-success"> {{sponsor.success}} </div>
  </div>
</div>

</div>
