<div class="container">
  <h1 ng-hide="info.edit" align="center"> {{project.name}} </h1>
  <div ng-show="info.edit">
    <label> Enter New Name: </label>
    <input type="text" ng-model="project.name"/>
  </div>
  <div style="padding-left: 80%;">
    <button ng-show="!info.edit&&isAdmin" class="btn btn-primary" ng-click="info.edit=true"> Edit Project </button>
  </div>
  <img src="{{info.prevpath}}{{project.image}}" style="width: 30%; height: 50%;">
  <br>
  <div class="info">
		<label ng-hide="info.edit">Project Details</label>
     <p ng-hide="info.edit">{{project.info}}</p>
     <div ng-show="info.edit">
      <label> Enter New Description: </label>
	   	<input type="text" ng-model="project.info"/>
      <br>
      <button class="btn btn-success" ng-click="info.update()">Update</button>
      <button class="btn btn-primary" ng-click="info.edit = false">Go Back</button>
      <div class="row show-hide-message" ng-show="error">
       <div class="alert alert-danger"> {{error}} </div>
      </div>
    </div>
  </div>
</div>
