
#navbar-contain
{
	background-color: inherit;
	margin-bottom: 0px;
	border: none;
}

#containers
{
	background-color: rgba(19, 35, 47, 0.9);
    width: 25%;
    float: left;
    transition: width 0.5s linear;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #1ab188;
}

.navbar-default .navbar-nav > li > a

{
    color: white;
    display: none;
}

.navbar-nav > li {
    color: white;
    display: none;
}

.navbar-title
{
	color: white !important;
}

#login-button
{
    padding-left: 28px;
    padding-right: 28px;
    font-weight: 300;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: white;
    background-color: #1ab188;
}