
#navbar-contain
{
	background-color: transparent;
	margin-bottom: 0px;
	border: none;
}

#containers
{
	background-color: transparent;
    width: 25%;
    float: left;
    transition: width 0.5s linear;
    border: 5px solid black;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: black;
}

.navbar-default .navbar-nav > li > a

{
    color: black;
    display: none;
}

.navbar-nav > li {
    color: black;
    display: none;
}

.navbar-title
{
	color: black !important;
}

#login-button
{
    border-left: 3px solid black;
}
