<div class="navbar navbar-default navbar-static-top" id="navbar-contain">
  <div class="container" id="containers">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand navbar-title">ENVISAGE</a>
    </div>
    <div uib-collapse="$ctrl.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav" id="navigation">
        <li ng-repeat="item in $ctrl.menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
        <li ng-show="$ctrl.isAdmin()" ui-sref-active="actived"><a class = "navbar-item" ui-sref="projects">Projects</a></li>
        <li ng-show="$ctrl.isAdmin()" ui-sref-active="actived"><a class = "navbar-item" ui-sref="news">Envisage in news</a></li>
        <li ng-show="$ctrl.isAdmin()" ui-sref-active="actived"><a class = "navbar-item ui-sref="prevprojects">Previous projects</a></li>
        <li ng-show="$ctrl.isAdmin()" ui-sref-active="actived"><a class = "navbar-item" ui-sref="sponsors">Sponsors</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="actived"><a class = "navbar-item" ui-sref="login">Login</a></li>
        <li ng-show="$ctrl.isLoggedIn()" class = "navbar-item"><p class="navbar-text">Hello {{ $ctrl.getCurrentUser().name }}</p> </li>
        <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="actived" class = "navbar-item"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="$ctrl.isLoggedIn()"><a class = "navbar-item" ui-sref="logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
