.sponsors img{
  width: 25vw;
}

.sponsors p{
  color: whitesmoke;
}

.sponsors  h2{
  padding: 10px 50px 50px;
  font-size: 10vw;
  background: #FF512F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(150deg, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(150deg, #DD2476, #FF512F);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.sponsors .logo{
  flex: 1;
  padding: 20px 70px;
}

.mainlogo{

}

.sponsors .fbox{
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 767px){
  .sponsors img{
    width: 70vw;
  }
}