<div>
	<h1 class="contacth1"> Cores </h1>
	<div ng-repeat="user in contact.cores">
		<script type="IN/MemberProfile" data-id="{{user.linkedin}}" data-format="inline" data-related="false"></script>
	</div>

	<h1 class="contacth1"> Super Coordinators </h1>
	<div ng-repeat="user in contact.supercoords">
		<script type="IN/MemberProfile" data-id="{{user.linkedin}}" data-format="inline" data-related="false"></script>
	</div>

	<h1 class="contacth1"> Coordinators </h1>
	<div ng-repeat="user in contact.coords">
		<script type="IN/MemberProfile" data-id="{{user.linkedin}}" data-format="inline" data-related="false"></script>
	</div>
</div>