#container
{
  position: relative;
  perspective: 2000px;
  perspective-origin: 50% -10%;
  width: 100%;
  height: 700px;
  background-color: white;
}

#rotator
{
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  width: 22%;
  height: 40%;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: rotateY(20deg);
  transition: transform 1s linear;/*
  background: transparent;*/
}

.wing
{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 90%;
  height: 20%;
  transform-origin: 0% 50%;
  transform-style: preserve-3d;
}

.wing-content
{
  color: rgb(255,215,0);
  position: relative;
  top: 25%;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  font-family: Helvetica;
}

#triangle1
{
  height: 0px;
  width: 0px;
  border-width: 29px;
  border-style: solid;
  border-left-color: white;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  position: relative;
  left: 99%;
  top: -1px;
}

#pole1
{
  height: 200%;
  width: 4%;
  position: absolute;
  top: -55%;
  left: -2%;
  background-color: black;
  border:solid 2px rgb(255,215,0);
}
#pole2
{
  height: 200%;
  width: 4%;
  position: absolute;
  top: -55%;
  left: -2%;
  background-color: black;
  transform: rotateY(90deg);
  border:solid 2px rgb(255,215,0);
}

.wing1
{
  position: absolute;
  top: -50%;
  transform: rotateY(-18deg);
}
.wing2
{
  position: absolute;
  top: 0%;
  transform: rotateY(-90deg);
}
.wing3
{
  position: absolute;
  top: -25%;
  transform: rotateY(-162deg);
}
.wing4
{
  position: absolute;
  top: 25%;
  transform: rotateY(-234deg);
}
.wing5
{
  position: absolute;
  top: 50%;
  transform: rotateY(-306deg);
}

.face
{
  height: 100%;
  width: 100%;
  position: absolute;
  text-align: center;
  background-color: black;
  border:solid 2px rgb(255,215,0);
  -webkit-box-shadow: 5px 0px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 0px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 0px 15px 0px rgba(0,0,0,0.75);
}

.front
{
  
}

.back
{
  transform: rotateY(180deg);
}
